body {
    font-family: Aglet Slab;
}
#header {
    height: 100vh;
    background-image: url("images/header-image.jpeg");
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 2em;
}

#logoImage {
    width: 100%;
}

#productSection {
    color: #B24F13;
    background-color: whitesmoke;
}

#productImages {
    width: 100%;
}

#gallerySection {
    background-color: #EDE1CA;
    color: white;
}

#galleryImages {
    width: 100%;
    border-radius: 10px;
}

#contact {
    background-color: whitesmoke;
}