#header {
    height: 100vh;
    background-image: url("images/header-image.jpeg");
    background-position: center;
    background-size: cover;
    color: white;
    font-size: 2em;
}

#introduction {
    background-color:;
    color: #B24F13;
    font-family: Aglet Slab;
}

#aboutImage {
    height: 100%;
    max-width: 100%;

}

#about-content {
    height: 100%;
}

#gallery {
    background-color: #EDE1CA;
    color: white;
    height: 100vh;
}

#contact {
    background-color: whitesmoke;
    height: 90vh;
}

#galleryImages {
    width: 100%;
    border-radius: 10px;
}

#recentImages {
    width: 100%;
}